<div id="<%= dom_id note %>">
  <p>
    <strong>Name:</strong>
    <%= note.user.name %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= note.description %>
  </p>

</div>
